<header class="header-section">
        <div class="container">
            <div class="header-wrapper">
                <div class="logo"><a th:href="@{/}"><img th:src="@{/images/logo.png}" alt="logo"></a></div>
                <ul class="menu">
                    <li><a th:href="@{/home}" th:classappend="${currentRequestURI != null && #strings.startsWith(currentRequestURI, '/home')} ? 'active' : ''">Home</a></li>
                    <li class="menu-item-has-children">
                        <a th:href="@{/movies}" th:classappend="${currentRequestURI != null && #strings.startsWith(currentRequestURI, '/movies')} ? 'active' : ''">Movies</a>
                    </li>
                    <li class="menu-item-has-children">
                        <a href="#">Pages</a>
                        <ul class="submenu">
                            <li><a th:href="@{/about}">About Us</a></li>
                            <li><a th:href="@{/apps-download}">Apps Download</a></li>
                            <li><a th:href="@{/sign-in}">Sign In</a></li>
                            <li><a th:href="@{/sign-up}">Sign Up</a></li>
                            <li><a th:href="@{/404}">404</a></li>
                        </ul>
                    </li>
                    <li class="menu-item" sec:authorize="isAuthenticated()">
                        <a th:href="@{/profile}" th:text="'Xin chào, ' + ${#authentication.name} + '!'">Xin chào, User!</a>
                    </li>
                    <li class="header-button pr-0" sec:authorize="isAuthenticated()">
                        <form class="logout-button-form" th:action="@{/logout}" method="post">
                            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
                            <button class="logout-button-styled" type="submit">LOG OUT</button>
                        </form>
                    </li>
                </ul>
                <div class="header-bar d-lg-none"><span></span><span></span><span></span></div>
            </div>
        </div>
    </header>
