<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DEMO</title>
    <!-- Them thu vien -->
    <script src="https://cdn.jsdelivr.net/npm/interactjs/dist/interact.min.js"></script>
    <script src="/js/jquery-3.3.1.min.js"></script>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <style>
        .draggable {
            padding: 10px;
            user-select: none;
            /* Chrome, Firefox, Safari */
            -webkit-user-select: none;
            /* Safari */
            -ms-user-select: none;
            /* IE10+ */
            cursor: move;
        }

        .dropzone.drop-target {
            border-color: green !important;
        }

        .draggable.can-drop {
            background-color: lightgreen;
        }

        .seat-item {
            padding: 15px;
            margin: 10px;
            height: 50px;
            width: 150px;
            background-color: rgb(218, 218, 218);
            z-index: -1;
        }

        .seat-item.drop-active {
            border-style: dashed;
        }
    </style>
</head>

<body>
    <p>Kéo mấy cái ghế này</p>
    <!-- Coi đây là cái ghế -->
    <!-- Thêm cái thuộc tính của cái ghế lên thuộc tính của thẻ html (VD: data-seat-type) -->
    <div class="draggable" style="width: fit-content;border: 1px solid red;" data-seat-type="Ghế VIP" data-seat-color="#ffc6c6"> Ghế VIP </div>
    <div class="draggable" style="width: fit-content;border: 1px solid red;" data-seat-type="Ghế Thường" data-seat-color="#71ff00"> Ghế Thường
    </div>

    <div class="container mb-3">
        //TODO
        <div class="row">
            <div class="col-lg-4">
                <label for="" class="label-control">Số ghế</label>
                <input type="text" class="form-control" id="numberOfSeat">
            </div>
            <div class="col-sm-12 mt-2">
                <button class="btn btn-primary" type="button" onclick="createSeatRow()">Thêm hàng</button>
            </div>
        </div>
    </div>


    <div class="container">
        <div id="seat-group">
            <div class="seat-row row col-sm-12">
                <!-- từng dropzone sẽ đc coi là chỗ ngồi -->
                <div class="seat-item dropzone">Chỗ ngồi</div>
                <div class="seat-item dropzone">Chỗ ngồi</div>
            </div>
        </div>
    </div>
    <script>
        $(document).ready(function () {
            //khởi tạo kéo mấy cái ghế
            interact('.draggable').draggable({
                listeners: {
                    start(event) {
                        // Remove previous drop marker
                        event.target.classList.remove('dropped');
                    },
                    move(event) {
                        // lưu thông tin tọa độ hiện tại của element lên thuộc tính data-x, data-y trên thẻ html
                        const target = event.target;
                        let x = (parseFloat(target.getAttribute('data-x')) || 0) + event.dx;
                        let y = (parseFloat(target.getAttribute('data-y')) || 0) + event.dy;

                        target.style.transform = `translate(${x}px, ${y}px)`;
                        target.setAttribute('data-x', x);
                        target.setAttribute('data-y', y);
                    },
                    end(event) {
                        const target = event.target;
                        // Trả item ghế về vị trí cũ, để có thể kéo thả tiếp
                        target.style.transform = '';
                        target.setAttribute('data-x', 0);
                        target.setAttribute('data-y', 0);
                    }
                }
            });

            //khởi tạo dropzone (chỗ ngồi)
            interact('.seat-item').dropzone({
                accept: '.draggable',
                //mấy hàm dưới này chủ yếu để thêm class css
                ondragenter(event) {
                    event.target.classList.add('drop-target');
                    event.relatedTarget.classList.add('dropped');
                },
                ondragleave(event) {
                    event.target.classList.remove('drop-target');
                    event.relatedTarget.classList.remove('dropped');
                },
                ondropactivate(event) {
                    event.target.classList.add('drop-active');
                },
                ondropdeactivate(event) {
                    event.target.classList.remove('drop-active');
                    event.target.classList.remove('drop-target');
                },
                //Nếu user thả item ghế tại 1 dropzone (thả vào 1 chỗ ngồi)
                //chỗ này sẽ lấy thuộc tính trên thẻ html của Loại ghế để lưu lại
                ondrop(event) {
                    //lấy element đang được kéo thả
                    let droppedSeat = event.relatedTarget;
                    //lấy thông tin trên thẻ html
                    let seatType = $(droppedSeat).attr("data-seat-type");
                    let seatColor = $(droppedSeat).attr("data-seat-color")

                    //update text ở dropzone (chỗ ngồi)
                    event.target.textContent = seatType || "Default Seat";
                    event.target.style.backgroundColor = seatColor;
                },
            });
        })

        //tạo hàng ghế
        function createSeatRow() {
            let numberOfSeat = $("#numberOfSeat").val();
            if(isNaN(numberOfSeat))
                return;
            // Tạo phần tử row
            let seatRow = $('<div>', {
                class: 'seat-row row col-sm-12'
            });

            // Tạo từng seat-item dropzone
            for (let i = 0; i < numberOfSeat; i++) {
                let seatItem = $('<div>', {
                    class: 'seat-item dropzone',
                    text: 'Chỗ ngồi ' + (i + 1)
                });

                seatRow.append(seatItem);
            }

            // Thêm hàng ghế vào container ( thẻ <div id="seat-group">)
            $('#seat-group').append(seatRow);
            $("#numberOfSeat").val('')
        }
    </script>
</body>

</html>